.App {
  
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #2d313a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.greet {
  padding: 20px 0px;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 0;
}

.movie-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  padding: 0 1px;
}
.movie-detail {
  width: 80%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction:column;
  justify-content:center;
  text-align: left;
}
@media(max-width:480px) {
  .movie-detail {
    width: 100%;
  }
  .movie-wrapper-detail {
    width: 100px;
  }
  .wrapper-detail-1{
    width: 50%;
  }
  .quran-arab {
    width: 100%;
    font-size: 1rem;
  }
}


.movie-wrapper {
  width: 80%;
  height: 100px;
  color: #A6CF98;
  background-color: #383c46;
  text-align: start;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 90%;
}
.movie-wrapper-detail {
  width: 95%;
  height: auto;
  color: #A6CF98;
  background-color: #383c46;
  text-align: start;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
}
.movie-wrapper:hover {
  border: 2px solid #A6CF98;
}

.wrapper-1 {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-2 {
  width: 80%;
  height: 150px;
}
.wrapper-detail-1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.movie-number {
  display: flex;
}
.movie-title {
  margin-top: 26px;
  letter-spacing: 3px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

.movie-date {
  font-style: italic;
}

.movie-rate {
  font-size: 1em;
  font-weight: 100;
  text-align: left;
}

.btn-movie {
  width: 300px;
  margin: 2px 20px;
  padding: 5px 10px;
  font-size: 24px;
  background-color: #A6CF98;
  color: #33353b;
  font-weight: bold;
  border-radius: 6px;
  transition: all .3s;
  cursor: pointer;
}

.btn-movie:hover {
  background-color: #8dae82;
}

.btn-series {
  width: 300px;
  margin: 2px 20px;
  padding: 5px 10px;
  font-size: 24px;
  background-color: #818fb4;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  transition: all .3s;
  cursor: pointer;

}
.btn-series:hover {
  background-color: #576079;
}

.quran-ayat {
  color: #A6CF98;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: .2rem .7rem;
  margin-right: 20px;
}
.quran-arab {
  font-size: 2.7rem;
  max-width: 92%;
  text-align: end;
  color: white;
}
.quran-arti {
  margin-top: 70px;
  text-align: start;
  font-size: .7em;
  margin-left: 10%;
  font-weight: 100;
}
audio {
  display: block;
  padding-bottom: 50px;
  color: white;
  background-color: #383c46;
}
audio::-webkit-media-controls-play-button {
  color: #A6CF98;
}
audio::-webkit-media-controls-timeline{

  display: none;
}
audio::-webkit-media-controls-time-remaining-display{

  display: none;
}

audio::-webkit-media-controls-current-time-display{

  display: none;
}
audio::-webkit-media-controls-mute-button{

  display: none;
}

audio::-webkit-media-controls-panel {
  padding: 0;
  background-color: #A6CF98;

}


.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .5em;
  font-weight: bold;
}